<style>
#container{
position: relative;
}
#left-sticky{
position: sticky;
top:100px;
}
#ijk{
}

@media screen and (max-width: 768px) {
#left-sticky{
position: fixed;
bottom:0px;
top:auto;
}
}



</style>
